{% extends 'base.html' %}
{% block title %}
    Create new album
{% endblock %}
{% block content %}
    <div class="block">
        <h2>Create new album</h2>
    </div>

    <div class="block">
        <form method="POST" action="{% url 'album_creation' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button is-primary" type="submit" value="Submit"/>
            <button onclick="window.history.back();" class="button is-primary is-light" type="button">Cancel</button>
        </form>
    </div>
{% endblock %}
