{% extends 'base.html' %}
{% block title %}
    Album list
{% endblock %}
{% block content %}
    <div class="block">
        <h2>Album list</h2>
    </div>

    <div class="block">
        <div class="level-right">
            <form method="POST" action="{% url 'album_list' %}">
                {% csrf_token %}
                {{ form }}
                <input class="button is-link" type="submit" value="Submit"/>
            </form>
        </div>
    </div>

    <div class="block">
        <div class="level-right">
            <a class="button is-primary is-light" href="{% url 'album_creation' %}"><span class="far fa-plus"></span>&ensp;Add new
                album</a>
        </div>
    </div>

    <div class="block">
        {% if albums %}
            <div class="table-container">
            <table class="table is-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
                </thead>
                <tbody>
                {% for album in albums %}
                    <tr>
                        <td><a href="{% url 'album_tracks' album.id %}">{{ album.title }}</a></td>
                        <td>{{ album.artist.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <div class="box"><i>No album.</i></div>
        {% endif %}
    </div>
{% endblock %}
