{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="content">

    <div class="block">
        <header>
            <h1 class="title">Chinook Assignment</h1>
            <h2 class="subtitle">with <strong><a href="https://bulma.io">Bulma</a></strong></h2>
        </header>
    </div>

    {% block content %}{% endblock %}

    <div class="block">
        <footer class=footer"><em>&copy; ISAE-SUPAERO</em></footer>
    </div>

    </div>
</div>
</body>
</html>
